# don't ever lint node_modules
node_modules

# don't lint build output or public
build/*
public/*
src/react-app-env.d.ts
src/serviceWorker.ts

# ignore js lint files outside src
.eslintrc.js
.prettier.config.js

# ignore all js
# **/*
